In [1]:
from hidden_markov_model import HMM

# Тест 1

In [2]:
pi = {'+': 0.5, '-': 0.5}
B = [[0.5, 0.5], [0.1, 0.9]]
A = [[0.8, 0.2], [0.2, 0.8]]
seq = 'ОРОРОРООРРРРРРРРРРОООООООО'

In [3]:
hmm = HMM(pi, A, B, seq, sorted(pi.keys()))

In [4]:
hmm.viterbi()

In [5]:
hmm.viterbi_matrix.astype(float).idxmax()

0     +
1     +
2     +
3     +
4     +
5     +
6     +
7     +
8     +
9     +
10    -
11    -
12    -
13    -
14    -
15    -
16    -
17    -
18    +
19    +
20    +
21    +
22    +
23    +
24    +
25    +
dtype: object

In [6]:
hmm.FB()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
+,0.485641,0.351671,0.399518,0.287326,0.323388,0.232246,0.260889,0.258661,0.181935,0.143717,...,0.446583,0.590197,1.078878,1.132630,1.110951,1.077035,1.041959,1.007642,0.974386,0.942217
-,0.000336,0.000664,0.000391,0.000844,0.000504,0.001112,0.000666,0.000747,0.002718,0.003412,...,0.002634,0.002470,0.001173,0.000839,0.001153,0.002297,0.005058,0.011361,0.025614,0.057783

# Тест 2

In [10]:
pi = {'+': 0.5, '-': 0.5}
A = [[0.5, 0.5], [0.5, 0.5]]
B = [[0.5, 0.5], [0.51, 0.49]]
seq = 'ОРОРОРООРРРРРРРРРРОООООООО'
hmm = HMM(pi, A, B, seq, sorted(pi.keys()))
hmm.viterbi()

In [11]:
hmm.viterbi_matrix.astype(float).idxmax()

0     -
1     +
2     -
3     +
4     -
5     +
6     -
7     -
8     +
9     +
10    +
11    +
12    +
13    +
14    +
15    +
16    +
17    +
18    -
19    -
20    -
21    -
22    -
23    -
24    -
25    -
dtype: object

In [12]:
hmm.FB()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
+,0.49505,0.505051,0.49505,0.505051,0.49505,0.505051,0.49505,0.49505,0.505051,0.505051,...,0.505051,0.505051,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505,0.49505
-,0.50495,0.494949,0.50495,0.494949,0.50495,0.494949,0.50495,0.50495,0.494949,0.494949,...,0.494949,0.494949,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495,0.50495