In [1]:
from hidden_markov_model import HMM

# Тест 1

In [2]:
pi = {'+': 0.5, '-': 0.5}
B = [[0.5, 0.5], [0.1, 0.9]]
A = [[0.8, 0.2], [0.2, 0.8]]
seq = 'ОРОРОРООРРРРРРРРРРОООООООО'

In [3]:
hmm = HMM(pi, A, B, seq, sorted(pi.keys()))

In [4]:
hmm.viterbi()

In [5]:
hmm.viterbi_matrix

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
+,0.4,0.040,0.02880,0.002880,0.003732,0.000373,0.000484,0.000193,0.000019,0.000003,...,2.829746e-07,2.037417e-07,5.867762e-07,2.347105e-07,9.388419e-08,3.755367e-08,1.502147e-08,6.008588e-09,2.403435e-09,9.613741e-10
-,0.1,0.072,0.01296,0.009331,0.001680,0.001209,0.000218,0.000039,0.000028,0.000020,...,2.037417e-06,1.466940e-06,2.640493e-07,4.752887e-08,8.555197e-09,1.877684e-09,7.510735e-10,3.004294e-10,1.201718e-10,4.806870e-11

In [6]:
hmm.viterbi_matrix.astype(float).idxmax()

0     +
1     -
2     +
3     -
4     +
5     -
6     +
7     +
8     -
9     -
10    -
11    -
12    -
13    -
14    -
15    -
16    -
17    -
18    +
19    +
20    +
21    +
22    +
23    +
24    +
25    +
dtype: object

In [7]:
hmm.FB()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
+,0.408382,0.042880,0.036101,0.004549,0.005677,0.000750,0.001008,0.000537,0.000062,0.000016,...,0.000001,0.000001,0.000003,1.672384e-06,7.782236e-07,3.443371e-07,1.499092e-07,6.490977e-08,2.805347e-08,2.423358e-08
-,0.165669,0.135042,0.076141,0.027495,0.014824,0.005045,0.000951,0.000651,0.000817,0.000628,...,0.000072,0.000018,0.000003,7.787274e-07,2.355188e-07,8.676234e-08,3.524895e-08,1.489160e-08,6.381197e-09,1.056935e-08

# Тест 2

In [8]:
pi = {'+': 0.5, '-': 0.5}
A = [[0.5, 0.5], [0.5, 0.5]]
B = [[0.5, 0.5], [0.51, 0.49]]
seq = 'ОРОРОРООРРРРРРРРРРОООООООО'
hmm = HMM(pi, A, B, seq, sorted(pi.keys()))
hmm.viterbi()

In [9]:
hmm.viterbi_matrix.astype(float).idxmax()

0     +
1     -
2     +
3     -
4     +
5     -
6     +
7     -
8     +
9     -
10    +
11    -
12    +
13    -
14    +
15    -
16    +
17    -
18    +
19    -
20    +
21    -
22    +
23    -
24    +
25    -
dtype: object

In [10]:
hmm.FB()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
+,0.248762,0.125625,0.062806,0.031403,0.015702,0.007851,0.003925,0.001963,0.000981,0.000491,...,0.000004,0.000002,9.583487e-07,4.791744e-07,2.395872e-07,1.197936e-07,5.989680e-08,2.994840e-08,1.497420e-08,1.497420e-08
-,0.251250,0.124369,0.062191,0.031095,0.015548,0.007774,0.003887,0.001943,0.000972,0.000486,...,0.000004,0.000002,9.489532e-07,4.744766e-07,2.372383e-07,1.186191e-07,5.930957e-08,2.965479e-08,1.482739e-08,1.482739e-08